SYMBOLS {
    __STACKSIZE__:       type = weak,   value = $0100;  # malloc uses BSS! so this is only used by our everyday function passing
    __STARTADDRESS__:    type = export, value = __MAIN_START__;
}
MEMORY {
    # Only define them if they are then used for __XXX_SIZE__ (or START, etc) variables later
    # These are written in the order defined when referencing %O, so PMG_LSAV which is written to by PRE needs to come before it
    ZP:         file = "", define = yes, start = $0082, size = $007E;
    PMG_LSAV:   file = %O, define = yes, start = $3400, size = $0080; # small area written to disk that is for routines we want in memory. this area of PMG is below screen PMG usage
    PRE:        file = %O, define = no,  start = $3800, size = $0200; # init code that runs once and then overwritten (by SCREEN data etc)
    PRE_NOSAV:  file = "", define = no,  start = $3A00, size = $0100; # work aread for PRE-INIT routines that will be overwritten and not saved to disk

    BUFFER:     file = "", define = no,  start = $2B6f, size = $0491; # main buffers area, path/filter, fn_io_hostslots, fn_io_buffer, fn_io_deviceslots, fn_io_netconfig
    FONT:       file = "", define = no,  start = $3000, size = $0400; # Character set address, must be on 1k boundary (x000, x400, x800, xC00)
    PMG:        file = "", define = yes, start = $3400, size = $0400; # Some of this is recouped below - 1k bounday
    PMG_LDATA:  file = "", define = yes, start = $3480, size = $011C; # PMG+0 to PMG+$019C is not used for gfx, so this area is good for storing variables and other code
    SCREEN:     file = %O, define = no,  start = $3800, size = $0800; # need $460 for screen mem, dlist < $100, should not cross 4k boundary ($1000)
    BANK1:      file = "", define = no,  start = $4000, size = $4000;
    MAIN:       file = %O, define = yes, start = $8000, size = $2000; # 8K should be enough for code. Doesn't work on Atari 400 like this.
    # I think I could change this by overriding ___heaporg etc, as it feels wrong to me that malloc and BSS share same memory
    BSSM:       file = "", define = yes, start = $A000, size = $0800; # need's investigating.
    STACK:      file = "", define = yes, start = $A800, size = __STACKSIZE__;

}
FILES {
    %O: format = atari;
}
FORMATS {
    atari: runad = start,
           initad = PRE: pre_init;
}
SEGMENTS {
    ZEROPAGE: load = ZP,         type = zp;
    RESET:    load = PMG_LSAV,   type = rw,  define = yes;  # reset_handler in RAM as it has modifyable code
    LOW_DATA: load = PMG_LDATA,  type = rw,  define = yes;  # for permanently storing values calculated during init routine etc
    INIT:     load = PRE,        type = ro,  define = yes;  # initialisation routines that will be overwritten
    INIT_NS:  load = PRE_NOSAV,  type = rw,  define = yes;  # used as temporary bss-like data area for init routines but will be reused

    # MAIN used exclusively for CODE, ONCE, and RODATA, this is so I can eventually rework this into ROM
    CODE:     load = MAIN,       type = rw,  define = yes;
    RODATA:   load = MAIN,       type = ro,  define = yes, optional = yes;
    ONCE:     load = MAIN,       type = ro,                optional = yes;

    BSS:      load = BSSM,       type = bss, define = yes, optional = yes;

    # There isn't much actual initialised ".data" in the application, keep it in FREE_PMG
    DATA:     load = PMG_LSAV,   type = rw,                optional = yes;

    # $200 storage area for some more permanent buffers
    BUFFER:   load = BUFFER,     type = rw,                optional = yes;

    # other segments
    DLIST:    load = SCREEN,     type = ro,  define = yes, optional = yes;
    SCREEN:   load = SCREEN,     type = rw,  define = yes, optional = yes;
    PMGS:     load = PMG,        type = rw,  define = yes, optional = yes;
    FONT:     load = FONT,       type = rw,  define = yes, optional = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
}
