FEATURES {
    STARTADDRESS: default = $3000;
}
SYMBOLS {
    __STACKSIZE__:       type = weak,   value = $0100;
    __STARTADDRESS__:    type = export, value = %S;
}
MEMORY {
    ZP:         file = "", define = yes, start = $0082, size = $007E;
    MAIN:       file = %O, define = yes, start = %S,    size = $BC20 - __STACKSIZE__ - %S;
    SIO:        file = %O, define = no,  start = $2000, size = $0300;
}
FILES {
    # this is only atari to put the HEADER bytes in, so that the BDD tests can load the resultant XEX file as it understands the format. It is effectively otherwise device agnostic
    %O: format = atari;
}
FORMATS {
    # as above
    atari: runad = start;   # this function is defined in BDD framework as a simple "rts", as the application will not be run through here anyway, instead the test calls the function under test directly
}
SEGMENTS {
    ZEROPAGE: load = ZP,         type = zp;

    CODE:     load = MAIN,       type = rw,  define = yes;
    RODATA:   load = MAIN,       type = ro                 optional = yes;
    DATA:     load = MAIN,       type = rw                 optional = yes;
    BUFFER:   load = MAIN,       type = rw                 optional = yes;

    BSS:      load = MAIN,       type = bss, define = yes, optional = yes;
    SIO:      load = SIO,        type = rw,  define = yes, optional = yes;
}
